.change-car-type-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.change-car-type-modal-content {
  background: linear-gradient(to right, #6746B0, #3F92E0); /* Lighter gradient */
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  color: white;
}

.change-car-type-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.change-car-type-modal-header h2 {
  margin: 0;
  color: white;
}

.change-car-type-modal-close-button {
  background: none;
  border: none;
  font-size: 2em;
  cursor: pointer;
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 10px;
}

.change-car-type-modal-close-button:hover {
  color: #333;
}

.change-car-type-modal-body form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.change-car-type-modal-body .form-group {
  display: flex;
  flex-direction: column;
}

.change-car-type-modal-body label {
  margin-bottom: 5px;
  font-weight: bold;
  color: white;
}

.change-car-type-modal-body input[type="text"],
.change-car-type-modal-body select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
}

.change-car-type-modal-body input::placeholder {
  color: #666;
}

.change-car-type-modal-body .form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 20px;
}

.change-car-type-modal-body .update-button,
.change-car-type-modal-body .cancel-button {
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.change-car-type-modal-body .update-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.change-car-type-modal-body .update-button:hover {
  background-color: #45a049;
}

.change-car-type-modal-body .cancel-button {
  background-color: #f44336; /* Red */
  color: white;
}

.change-car-type-modal-body .cancel-button:hover {
  background-color: #da190b;
}