.chat-side-drawer {
  position: fixed;
  left: -300px; /* Start off-screen to the left */
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 70%;
  background-color: rgb(229, 226, 236);
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Shadow on the right */
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 0 15px 15px 0; /* Rounded corners on the right */
}

.chat-side-drawer.open {
  left: 0; /* Slide in from the left */
}

.chat-side-drawer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background-color: #603aac;
  border-top-right-radius: 15px;
}

.chat-side-drawer-header h3 {
  margin: 0;
  color: white;
  font-weight: bold;
}

.chat-side-drawer-header .close-button {
  background: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  color: white;
}

.chat-side-drawer-content {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

.chat-message {
  margin-bottom: 10px;
  padding: 4px 12px;
  border-radius: 18px;
  max-width: 80%;
  word-wrap: break-word;
}

.chat-message.sent {
  background-color: #4a148c; /* Dark purple */
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.chat-message.received {
  background-color: #1565c0; /* Dark blue */
  color: white;
  align-self: flex-start;
}

.chat-side-drawer-footer {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.chat-side-drawer-footer .chat-input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  resize: none;
  font-size: 0.9rem;
}

.chat-side-drawer-footer .send-button {
  background-color: #3454bd;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem;
}

.chat-side-drawer-footer .send-button:hover {
  background-color: #6a17c0;
}
