.edit-spot-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-spot-modal-content {
  background: linear-gradient(to right, #6746B0, #3F92E0); /* Lighter gradient */
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.edit-spot-modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.edit-spot-modal-logo {
  width: 52px;
  height: 52px;
  margin-right: 10px;
  border-radius: 50%;
}

.edit-spot-modal-title-parksphere {
  margin: 0;
  font-family: 'Advent Pro', sans-serif; /* Match main title font */
  font-size: 2.2em;
  font-weight: 550;
  letter-spacing: 15px;
  color: white;
  flex-grow: 1;
  text-align: center;
}



.edit-spot-modal-title {
  margin: 0;
  font-family: 'Advent Pro', sans-serif;
  font-size: 1.8em; /* Adjust as needed */
  font-weight: 550;
  color: white;
  flex-grow: 1; /* To take available space and push close button to right */
  text-align: center;
}

.edit-spot-modal-body p {
  margin: 5px 0;
  color: white;
}

.edit-spot-modal-body strong {
  color: white;
}

.tagline {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 0.5rem;
  margin-top: 3px;
  color: white;
  text-align: center;
  margin-left: 0px;
}

.highlight {
  color: #00FFFF; /* Brighter blue */
}

.edit-spot-header-left {
  display: flex;
  align-items: center; /* Align logo and title/tagline group vertically */
}

.edit-spot-title-tagline-container {
  display: flex;
  flex-direction: column; /* Stack title and tagline vertically */
  align-items: flex-start; /* Align text to the left within its container */
}

/* Form specific styles */
.form-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 15px;
}

.form-row label {
  width: 160px;
  text-align: left;
  font-weight: bold;
  color: white; /* Changed to white for contrast on gradient background */
  padding-top: 6px;
}

.form-row input[type="number"],
.form-row textarea,
.form-row select { /* Added select */
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent white */
  color: #333;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}

.modal-buttons button {
  flex: 1;
  max-width: 150px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #00FFFF; /* Bright blue for buttons */
}

.modal-buttons button:hover {
  opacity: 0.9;
}