.filter-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #f0f0f0;
}

.filter-container label {
  margin-right: 10px;
}

.filter-container select {
  margin-right: 20px;
}

.user-info {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.welcome-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%; /* Ensure it takes full height of parent flex item */
  margin-top: -28px;
}

.user-info span {
  margin-right: 10px;
  font-weight: bold;
}

.user-info button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 25px; /* More rounded corners */
  background-color: #dc3545; /* Red color for logout */
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.user-avatar {
  width: 52px !important;
  height: 52px !important;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  border: 2px solid #603aac;
  margin-top: -20px;
  cursor: pointer;
}

.message-icon-container {
  position: relative;
  display: inline-block;
}

.notification-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.user-info span {
  margin-right: 10px;
  font-weight: bold;
}

.user-info button:hover {
  background-color: #c82333;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.search-icon {
  font-size: 24px;
  color: #00ffff;
  cursor: pointer;
  margin-right: 15px;
  vertical-align: middle;
}

.message-icon {
  color: #007bff;
  font-size: 26px;
  cursor: pointer;
  margin-right: 15px;
  vertical-align: middle;
}
