@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&display=swap');

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust as needed for spacing between logo and title */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align logo and tagline to the left */
}

.logo {
  font-family: 'Advent Pro', sans-serif; /* Changed to Advent Pro */
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 600; /* Semi-bold */
  margin: 0;
  letter-spacing: 15px; /* Increased by 15% */
  text-align: left; /* Align text to the left */
}

.logo-container .tagline-login {
  font-family: 'Inter', sans-serif; /* Changed to Advent Pro */
  font-weight: 440; /* Semi-bold */
  font-size: 1.4rem;
  margin-top: 35px;
  margin-left: -15px;
  color: white;
  text-align: center;
}

.highlight {
  color: #4dd0e1;
}

.App-footer {
  text-align: center;
  font-size: 1rem;
  color: blue;
  background-color: #547abb; /* Blue Ciel */
  width: 100%; /* Full width */
  /* margin-top: 10px; */ /* Remove this line */
  border-radius: 10px; /* Rounded corners */
}
