@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;600&display=swap');

.logo-and-title {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust as needed for spacing between logo and title */
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align logo and tagline to the left */
}

.logo {
  font-family: 'Advent Pro', sans-serif; /* Changed to Advent Pro */
  font-size: 2.7rem;
  font-style: normal;
  font-weight: 600; /* Semi-bold */
  margin: 0;
  letter-spacing: 15px; /* Increased by 15% */
  text-align: left; /* Align text to the left */
}

.logo-container .tagline-login {
  font-family: 'Inter', sans-serif; /* Changed to Advent Pro */
  font-weight: 440; /* Semi-bold */
  font-size: 1.4rem;
  margin-top: 35px;
  margin-left: -15px;
  color: white;
  text-align: center;
}

.highlight {
  color: #4dd0e1;
}

.auth-container form {
  background-color: white;
  padding: 15px 25px; /* Compact padding */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 8px; /* Compact gap */
  width: 100%;
  max-width: 400px;
}

.auth-container .form-group {
  display: flex;
  flex-direction: column;
}

.auth-container label {
  margin-bottom: 1px; /* Minimal margin */
  font-weight: bold;
  color: #332294;
  font-size: 0.9rem; /* Smaller font */
}

.auth-container input,
.auth-container select {
  padding: 6px; /* Compact padding */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.9rem; /* Smaller font */
}

.auth-container button {
  padding: 8px 15px; /* Compact padding */
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  margin-top: 2px;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.social-login-separator {
  margin: 5px 0; /* Compact margin */
  text-align: center;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.social-login-separator::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #eee;
  z-index: 1;
}

.social-login-separator span {
  background-color: #fff;
  padding: 0 15px;
  color: #999;
  font-size: 0.9rem;
  position: relative;
  z-index: 2;
  border-radius: 5px;
}

.google-login-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.App-footer {
  text-align: center;
  font-size: 1rem;
  color: blue;
  background-color: #547abb; /* Blue Ciel */
  width: 100%; /* Full width */
  /* margin-top: 10px; */ /* Remove this line */
  border-radius: 10px; /* Rounded corners */
}
