
.delete-spot-button {
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 25px; /* More rounded corners */
  background-color: #dc3545; /* Red color for delete */
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  margin-left: 10px; /* Space from other elements */
}

.delete-spot-button:hover {
  background-color: #c82333;
}

.edit-button-color {
  background-color: #007bff; /* Blue color for edit */
}

.edit-button-color:hover {
  background-color: #0056b3;
}

.request-spot-button {
  background-color: #4CAF50; /* Green */
}

.delete-button-container {
  text-align: center;
}

.request-button-container {
  text-align: center;
}

.owner-actions-container {
  display: flex;
  justify-content: space-around; /* Distribute space between buttons */
  margin-top: 10px;
}

.request-spot-button {
  background-color: #28a745; /* Green color for request */
  color: white;
}

.request-spot-button:hover {
  background-color: #218838;
}