
.messages-side-drawer {
  position: fixed;
  left: -300px; /* Start off-screen to the left */
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 70%;
  background-color: rgb(229, 226, 236);
  box-shadow: 2px 0 5px rgba(0,0,0,0.1); /* Shadow on the right */
  transition: left 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 0 15px 15px 0; /* Rounded corners on the right */
}

.messages-side-drawer.open {
  left: 0; /* Slide in from the left */
}

.messages-side-drawer-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background-color: #603aac;
  border-top-right-radius: 15px;
  gap: 15px;
}

.messages-side-drawer-header h3 {
  margin: 0;
  color: white;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.messages-side-drawer-header .close-button {
  background: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  color: white;
  margin-left: auto;
}

.back-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: white !important;
  position: relative;
  top: 8px;
}

.messages-side-drawer-content {
  padding: 10px;
  overflow-y: auto;
  flex-grow: 1;
}

.message-input-container {
  display: flex;
  padding: 10px;
  border-top: 1px solid #eee;
  background-color: rgb(229, 226, 236);
}

.message-input-container input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input-container button {
  background-color: #603aac;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.message-item.unread {
  background-color: #e6e0f8;
  font-weight: bold;
}

.message {
  padding: 8px 12px;
  border-radius: 18px;
  margin-bottom: 10px;
  max-width: 80%;
  word-wrap: break-word;
  color: blue;
}

.sent {
  background-color: #dcf8c6;
  align-self: flex-end;
  text-align: right;
}

.received {
  background-color: #fff;
  align-self: flex-start;
  text-align: left;
}

.received.new-message {
  background-color: #e6e0f8;
}

.message-history-container {
  display: flex;
  flex-direction: column;
}
