.notification-log-container {
  background-color: #f8f9fa;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
  height: 140px;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 10px 20px 10px; /* Match map container margin */
}

.notification-log {
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background-color: #fff;
  padding: 8px;
  height: 100%;
  box-sizing: border-box;
  overflow-y: auto; /* Make this element scrollable */
}

.notification-message {
  margin-bottom: 5px;
  font-family: monospace;
  font-size: 12px;
  white-space: pre-wrap;
  color: #000; /* Explicitly set text color to black */
  text-align: left;
}
