
.owner-details-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1100;
}

.owner-details-modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.close-modal:hover {
  color: #777;
}

.owner-details-modal-content h2 {
  margin-top: 0;
  color: #603aac;
}

.owner-details-separator {
  border-bottom: 1px solid #eee;
  margin: 10px 0;
}

.owner-details-modal-content p {
  margin: 10px 0;
}

.owner-details-grid {
  display: flex;
  gap: 30px;
  align-items: flex-start;
  margin-top: 15px;
}

.owner-details-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;
}

.owner-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.owner-details-left p {
  margin: 0;
  font-weight: bold;
  color: #603aac;
  font-size: 1.25em;
}

.owner-details-right {
  flex-grow: 1;
}

.owner-details-right p {
  color: #603aac;
  text-align: left;
}

.username-and-message-icon-owner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.send-message-icon-owner {
  font-size: 24px;
  cursor: pointer;
  margin-top: 10px;
}
