.side-drawer {
  position: fixed;
  right: -300px; /* Start off-screen */
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 70%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 15px 0 0 15px;
}

.side-drawer.open {
  right: 0; /* Slide in */
}

.side-drawer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  position: relative;
}

.side-drawer-header h3 {
  margin: 0;
  color: black;
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.side-drawer-content {
  padding: 1rem;
  flex-grow: 1;
}

.side-drawer-content p {
  margin: 0 0 0.5rem 0;
  color: blue;
  text-align: left;
}

.side-drawer-footer {
  padding: 1rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: flex-end;
}

.edit-button, .delete-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-left: 8px;
}

.edit-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.delete-button {
    background-color: #f44336; /* Red */
    color: white;
}
