.side-drawer {
  position: fixed;
  right: -300px; /* Start off-screen */
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 70%;
  background-color: rgb(229, 226, 236);
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-radius: 15px 0 0 15px;
}

.side-drawer.open {
  right: 0; /* Slide in */
}

.side-drawer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #eee;
  position: relative;
  background-color: #603aac; /* Light blue-purple background */
  border-top-left-radius: 15px;
}

.side-drawer-header h3 {
  margin: 0;
  color: white;
  font-weight: bold;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.125rem;
  cursor: pointer;
  position: absolute;
  right: 1rem;
}

.side-drawer-content {
  padding: 1rem;
}

.side-drawer-content p {
  margin: 0;
  color: #7A1BE0;
  text-align: left;
}

.spot-details-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 10px; /* Row gap, Column gap */
  grid-auto-rows: 20px;
  align-items: start;
}

.side-drawer-footer {
  padding: 1rem;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: center;
}

.spot-detail-text {
  color: #7A1BE0; /* Dark gray color for better visibility */
  text-align: left;
  line-height: 1;
}

.edit-button, .delete-button {
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    margin: 0 5px;
    width: 100px; /* Fixed width */
}

.edit-button {
    background-color: #3454bd; /* Purple-blue */
    color: white;
}

.delete-button {
    background-color: #a5387b; /* Purple-red */
    color: white;
}

.requests-section {
  padding: 0 1rem; /* Match side-drawer-content padding */
  margin-top: -20px;
}

.requests-section h3 {
  margin-top: 0;
  margin-bottom: 15px;
  color: #333; /* Darker color for heading */
  text-align: left;
}

.requests-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.request-item {
  display: flex;
  align-items: center;
  background-color: #f3e5f5;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.request-item.accepted {
  background-color: #e1d4f7;
}

.requester-avatar {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  color: #4a148c;
  position: relative;
}

.requester-avatar.accepted {
  color: #007bff;
}

.request-details {
  display: flex;
  align-items: baseline;
  gap: 10px;
  flex-grow: 1;
}

.requester-username {
  font-weight: bold;
  color: #4a148c;
}

.requester-username.accepted {
  color: #007bff;
}

.requester-car-type {
  color: #6a1b9a;
}

.requester-car-type.accepted {
  color: #007bff;
}

.request-distance {
  font-weight: bold;
  color: #4a148c;
}

.request-distance.accepted {
  color: #007bff;
}

.chat-window-placeholder {
  grid-column: 1 / -1; /* Span across both columns */
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
}


.chat-symbol {
  font-size: 1.1rem;
  margin-left: 10px;
  cursor: pointer;
  color: #3454bd; /* A color that stands out */
}

.unread-indicator {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  border: 2px solid white;
}
